h1{
    color:red;
}
h2{
    color:purple;
}
.movie{
    color:blue;
}
img{
    width:300px;
    height:400px;
    border:dashed white;
}
body{
    text-align:center;
}
p{
    color:orange;
}
body{
    background-color:lightgreen;
}
h1{
    font-family: 'Black Han Sans', sans-serif;
}